/* .parent-container {
  width: 93%;
  margin: 0 auto;
  padding: 0; 
} */

/* body {
  background-image: url('../assets/images/home.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.3s;
} */

