.create-page-background {
    background-color: #D3E2F8;
    /* background-image: url("../assets/images/home.webp"); */
    /* background-size: cover; */
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.create-h1 {
    text-align: center;
    color: #4D4363;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

.form-card {
    margin-bottom: 1rem;
    padding: 1rem;
}

.button-create {
    --bs-btn-bg: #4354FF!important;
}

.button-create {
    --bs-btn-bg: #4354FF!important;
}