.main-page-background {
    background-image: url("../assets/images/background.webp");
    /* background-image: url("../assets/images/home.webp"); */
    background-size: cover;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header-bg {
    background-color: #D3E2F8;
    /* background-image: url("../assets/images/home.webp"); */
    /* background-size: cover; */
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.dashboard-content-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  .h3-header {
    max-width: 60%;
    font-size: 1.17em!important;
  }

  .button-create {
    --bs-btn-bg: #4354FF!important;
}

.deck-card {
    color: #4D4363;
    --bs-card-border-width: 0!important;
    border-radius: 15px!important;
/* background: #D3E2F8; */
--bs-card-bg:#E2EBFD!important;
box-shadow: 10px 10px 23px 0px rgba(185,190,199,0.75);
padding-top: 0.8rem;
/* box-shadow:  -23px -23px 46px #d6d6d6,
             23px 23px 46px #ffffff; */
             padding-bottom: 4rem;

}
.deck-body {
    margin-left: 4rem;
    margin-right: 4rem;
}

/* .deck-button {
    border-radius: 86px;
background: #E2EBFD;
box-shadow: inset 5px 5px 10px #8e949f,
            inset -5px -5px 10px #ffffff;
} */

.list-btn {
    --bs-btn-border-width: 3px!important;
    --bs-btn-border-color: #E0EBFB!important;
    --bs-btn-padding-x: 0.40rem!important;
    --bs-btn-padding-y: 0.10rem!important;
    --bs-btn-bg: #E2EBFD!important;
    border-radius: 13px!important;
    --bs-btn-hover-bg: #CADBF3!important;
    --bs-btn-hover-border-color: #CADBF3!important;
    background: #E2EBFD;
    box-shadow:  5px 5px 6px #d9e2f3,
    -5px -5px 6px #ebf4ff;
    margin-right: 0.5rem;
}
.delete-btn {
    --bs-btn-border-width: 3px!important;
    --bs-btn-border-color: #E0EBFB!important;
    --bs-btn-padding-x: 0.40rem!important;
    --bs-btn-padding-y: 0.10rem!important;
    --bs-btn-bg: #E2EBFD!important;
    border-radius: 12px!important;
    --bs-btn-hover-bg: #CADBF3!important;
    --bs-btn-hover-border-color: #CADBF3!important;
    background: #E2EBFD;
    box-shadow:  5px 5px 6px #d9e2f3,
    -5px -5px 6px #ebf4ff;
    margin-right: 0.5rem;
}
.start-btn {
    color: #8069BB!important;
    /* color: #6F7790!important; */
    --bs-btn-border-width: 3px!important;
    --bs-btn-border-color: #E0EBFB!important;
    --bs-btn-padding-x: 0.40rem!important;
    --bs-btn-padding-y: 0.20rem!important;
    --bs-btn-bg: #E2EBFD!important;
    border-radius: 12px!important;
    --bs-btn-hover-bg: #CADBF3!important;
    --bs-btn-hover-border-color: #CADBF3!important;
    background: #E2EBFD;
    box-shadow:  5px 5px 6px #d9e2f3,
    -5px -5px 6px #ebf4ff;
    margin-right: 0.5rem;
}


